

.coitainer-main-cross-axis-row {
    display: grid;
    grid-template-areas: 'header header header header'
                          'aside main main main'
                          'footer footer footer footer'
                          ;
}

header {

    margin: 0%;
    padding: 0%;
}
.lista { 
    display: flex;
    justify-content: center;
    align-items: center;
}